.ace_scrollbar {
  display: none !important;
}

.ace_gutter-layer {
  border-right: 1px solid var(--color-dark-component-background);
  color: var(--color-dark-foreground);
}

body.light-mode .ace_gutter-layer {
  border-right: 1px solid var(--color-light-component-background);
  color: var(--color-light-foreground);
}

div.ace_editor {
  font-family: HurmitNerdFontMono-Regular;
  font-size: 15px;
  width: 100%;
  height: calc(100% - 34px - 38px);
}

