:root {
  --color-solarized-base03: #002b36;
  --color-solarized-base02: #073642;
  --color-solarized-base01: #586e75;
  --color-solarized-base00: #657b83;
  --color-solarized-base0: #839496;
  --color-solarized-base1: #93a1a1;
  --color-solarized-base2: #eee8d5;
  --color-solarized-base3: #fdf6e3;
  --color-solarized-yellow: #b58900;
  --color-solarized-orange: #cb4b16;
  --color-solarized-red: #dc322f;
  --color-solarized-magenta: #d33682;
  --color-solarized-violet: #6c71c4;
  --color-solarized-blue: #268bd2;
  --color-solarized-cyan: #2aa198;
  --color-solarized-green: #859900;
  --color-solarized-black: #1a1a1a;

  --color-dark-strong-background: var(--color-solarized-base02);
  --color-dark-background: var(--color-solarized-base03);
  --color-dark-foreground: var(--color-solarized-base0);
  --color-dark-component-background: var(--color-solarized-base01);
  --color-dark-component-foreground: var(--color-solarized-base3);
  --color-dark-heading: var(--color-solarized-base3);
  --color-dark-keyword: var(--color-solarized-yellow);
  --color-dark-anchor: var(--color-solarized-magenta);
  --color-dark-button-background: var(--color-dark-component-background);
  --color-dark-button-foreground: var(--color-dark-component-foreground);
  --color-dark-error: var(--color-solarized-orange);

  --color-light-strong-background: var(--color-solarized-base3);
  --color-light-background: var(--color-solarized-base2);
  --color-light-foreground: var(--color-solarized-base00);
  --color-light-component-background: var(--color-solarized-base1);
  --color-light-component-foreground: var(--color-solarized-black);
  --color-light-heading: var(--color-solarized-base03);
  --color-light-keyword: var(--color-solarized-violet);
  --color-light-anchor: var(--color-solarized-magenta);
  --color-light-button-background: var(--color-light-component-background);
  --color-light-button-foreground: var(--color-light-component-foreground);
  --color-light-error: var(--color-solarized-red);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-keyword); 
}

body.light-mode ::-webkit-scrollbar-thumb {
  background-color: var(--color-light-keyword); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark-anchor);
}

body.light-mode ::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light-anchor);
}

@font-face {
  font-family: HurmitNerdFontMono-Bold;
  src: url("/fonts/HurmitNerdFontMono-Bold.woff2") format("woff2");
  font-display: swap;
}

/* @font-face { */
/*   font-family: HurmitNerdFontMono-BoldItalic; */
/*   src: url("/fonts/HurmitNerdFontMono-BoldItalic.woff2") format("opentype"); */
/*   font-display: swap; */
/* } */

/* @font-face { */
/*   font-family: HurmitNerdFontMono-Italic; */
/*   src: url("/fonts/HurmitNerdFontMono-Italic.woff2") format("opentype"); */
/*   font-display: swap; */
/* } */

/* @font-face { */
/*   font-family: HurmitNerdFontMono-LightItalic; */
/*   src: url("/fonts/HurmitNerdFontMono-LightItalic.woff2") format("opentype"); */
/*   font-display: swap; */
/* } */

/* @font-face { */
/*   font-family: HurmitNerdFontMono-Light; */
/*   src: url("/fonts/HurmitNerdFontMono-Light.woff2") format("opentype"); */
/*   font-display: swap; */
/* } */

@font-face {
  font-family: HurmitNerdFontMono-Regular;
  src: url("/fonts/HurmitNerdFontMono-Regular.woff2") format("woff2");
  font-display: swap;
}

a {
  text-decoration: none;
  color: var(--color-dark-anchor);
}

body.light-mode a {
  color: var(--color-light-anchor);
}

a:hover {
  text-decoration: underline;
}

a img {
  border: 2px solid transparent;
}

a img:hover {
  border: 2px solid var(--color-dark-anchor);
}

body.light-mode a img:hover {
  border: 2px solid var(--color-light-anchor);
}

body {
  font-family: HurmitNerdFontMono-Regular;
  background-color: var(--color-dark-background);
  color: var(--color-dark-foreground);
  margin: 0px;
  padding: 0px;
}

body.light-mode {
  background-color: var(--color-light-background);
  color: var(--color-light-foreground);
}

button {
  font-family: HurmitNerdFontMono-Regular;
  background-color: var(--color-dark-button-background);
  color: var(--color-dark-button-foreground);
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
}

body.light-mode button {
  background-color: var(--color-light-button-background);
  color: var(--color-light-button-foreground);
}

button:hover {
  border: 2px solid var(--color-dark-anchor);
}

body.light-mode button:hover {
  border: 2px solid var(--color-light-anchor);
}

img {
  vertical-align: middle;
  outline: none;
}

select {
  font-family: HurmitNerdFontMono-Regular;
  outline: none;
}

option {
  font-family: HurmitNerdFontMono-Regular;
  outline: none;
}

input {
  font-family: HurmitNerdFontMono-Regular;
  outline: none;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  word-break: break-all;
}

h2 {
  word-break: break-all;
}

h3 {
  word-break: break-all;
}

h4 {
  word-break: break-all;
}

p {
  word-break: break-all;
}

div {
  word-break: break-all;
}

button {
  word-break: normal;
}

.error {
  font-size: 30px;
  padding: 1em;
  text-align: center;
  color: var(--color-dark-error);
}

:global(body.light-mode) .error {
  color: var(--color-light-error);
}
